# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

tags
tags.lock
tags.temp

.DS_Store
**/.DS_Store

__pycache__
**/__pycache__

datasets/rvl-cdip/*
datasets/sroie2019/*

data/
models/
